.myDiv {
    border: 5px outset green;
    background-color: blue;
    text-align: justify;
    font-family: 'Great Vibes', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Niconne', cursive;
font-size: larger;
}

